<div class="footer-certifiedby">
  <ul>
    <li>
      <div class="icon-sprite" id="ssl">&nbsp;</div>
    </li>
    <li>
      <div class="icon-sprite" id="ppks">&nbsp;</div>
    </li>
  </ul>
</div>
