<div class="footer-certifiedby">
  <ul>
    <li>
      <div class="icon-sprite" id="ssl" title="SSL 256bit Verschlüsselung im elektronischen Bestellprozess">&nbsp;</div>
    </li>
    <li>
      <div class="icon-sprite" id="ppks" title="Käuferschutz bei Zahlung via PayPal">&nbsp;</div>
    </li>
  </ul>
</div>
