<div class="footer-payment-methods">
    <div class="icon-sprite col-lg-2 col-sm-4 col-xs-6" id="su">
        &nbsp;
    </div>
    <div class="icon-sprite col-lg-2 col-sm-4 col-xs-6" id="pp">
        &nbsp;
    </div>
    <div class="icon-sprite col-lg-2 col-sm-4 col-xs-6" id="ls">
        &nbsp;
    </div>
    <div class="icon-sprite col-lg-2 col-sm-4 col-xs-6" id="re">
        &nbsp;
    </div>
    <div class="icon-sprite col-lg-2 col-sm-4 col-xs-6" id="kk">
        &nbsp;
    </div>
    <div class="icon-sprite col-lg-2 col-sm-4 col-xs-6" id="vk">
        &nbsp;
    </div>
</div>
