<div class="footer-payment-methods">
    <div class="icon-sprite col-lg-4 col-sm-4 col-6" id="su" title="Klarna Sofortüberweisung">
        &nbsp;
    </div>
    <div class="icon-sprite col-lg-4 col-sm-4 col-6" id="pp" title="PayPal">
        &nbsp;
    </div>
    <div class="icon-sprite col-lg-4 col-sm-4 col-6" id="ls" title="Lastschrift">
        &nbsp;
    </div>
    <div class="icon-sprite col-lg-4 col-sm-4 col-6" id="re" title="Rechnungskauf">
        &nbsp;
    </div>
    <div class="icon-sprite col-lg-4 col-sm-4 col-6" id="kk" title="Kreditkarte">
        &nbsp;
    </div>
    <div class="icon-sprite col-lg-4 col-sm-4 col-6" id="vk" title="Vorkasse">
        &nbsp;
    </div>
</div>
