{% extends getPartial('page-design') %}
{% extends "Ceres::Homepage.Homepage" %}
    {% block PartialHead %}
      {% set companyName  = "Krazy8 Headshop, Growshop & Graffiti-Künstlerbedarf" %}
      {{ parent() }}
    {% endblock %}
{% block PageBody %}

<div class="container-max page-content">
    <div class="row">
        <div class="col-12 mb-3">
    {% if config("Ceres.homepage.showShopBuilderContent") == "true" or request.get('isContentBuilder') == 1 %}

        {% for content in container("Ceres::Homepage") if content.plugin == "Plenty" %}
            {{ content.result | raw }}
        {% endfor %}

    {% endif %}
        </div>
    </div>
</div>
{% endblock %}
