{% extends getPartial('page-design') %}

{% block PageBody %}

<div class="container-max page-content">
    <div class="row">
        <div class="col-xs-12 m-b-3">
    {% if config("Ceres.homepage.showShopBuilderContent") == "true" or request.get('isContentBuilder') == 1 %}

        {% for content in container("Ceres::Homepage") if content.plugin == "Plenty" %}
            {{ content.result | raw }}
        {% endfor %}

    {% endif %}
        </div>
    </div>
</div>
{% endblock %}
