<script type="x/template" id="vue-item-search">
    <div class="search-box-inner">
        <div class="search-box-shadow-frame">
            <input type="search" class="search-input" ref="searchInput" @input="autocomplete($event.target.value)"
                @keyup.enter="prepareSearch()" @keyup.down="keydown()" @keyup.up="keyup()"
                @focus="isSearchFocused = true" @blur="setIsSearchFocused(false)"
                autofocus>

            <button class="search-submit" type="submit" @click="search()">
                <i class="fa fa-search sm-up"></i>
            </button>

            <div class="autocomplete-suggestions container" v-if="isSearchFocused && autocompleteResult.length">
                <div class="autocomplete-suggestion row" v-for="(item, index) in autocompleteResult" :key="index" :class="{ 'autocomplete-selected': selectedAutocompleteIndex === index, 'odd': index % 2 === 0, 'even': index % 2 !== 0 }">
                    <div class="autocomplete-image-container col-2" v-if="showItemImages">
                        <img class="autocomplete-image" :src="item.img">
                    </div>
                    <div class="autocomplete-item-name col-10" v-html="item.displayName"></div>
                </div>
            </div>
        </div>
    </div>
</script>
<!-- @mousedown="selectAutocompleteItem(item)" -->
